﻿@using BusinessLogic.Interfaces

@model List<carShop.Entities.Car>
@inject ICartService CartService

<table class="table">
    <thead>
        <tr>
            <th>Model</th>
            <th>Color</th>
            <th>Year</th>
            <th>Body Type</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <partial name="_CarViewPartial" model="@car" />
        }
    </tbody>
</table>
@if (User.IsInRole("Admin"))
{ 
    <a asp-controller="Car" asp-action="Create" class="btn btn-primary mt-4">Create New Product</a>
} 
